/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&left_encoder { resolution = <2>; };
&right_encoder { resolution = <2>; };

#define DEFAULT 0
#define NUMLAYER 1
#define NAVLAYER 2


#define NONE 0



/ {

    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LBKT>, <&kp RBKT>, <&kp NON_US_BSLH>;
        };
	td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_1";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DOT>, <&kp EXCL>;
        };
	td2: tap_dance_2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_2";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp MINUS>, <&kp EQUAL>;
        };
	td3: tap_dance_3 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_SHFT-CAPS";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHFT>, <&kp CAPS>;
        };
	td4: tap_dance_4 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_LAYERS";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&to 1>, <&to 2>, <&to 3>;
        };
    };
    
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   [,],\  |
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '      |
// | SHFT-CAPS |  Z  |  X  |  C   |  V   |  B   | DEFALT  | td_LAYERS  |  | td_LAYERS    | DEFALT  |  N   |  M    |  ,    |  . ! |   /   | SHFT-CAPS |
//                     | SHIFT| LCTRL| LALT |  LGUI   |   SPACE |  |  BSPC   |  SPACE  | DEL  | RET   | SHIFT |
// ---------------------------------------------------------------------------------------------------------------------------------
			bindings = <
	&kp ESC   &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P    &td0
	&kp TAB   &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
	&td3 &kp Z &kp X &kp C &kp V &kp B &to 0 &td4                           &td4 &to 0 &kp N &kp M  &kp COMMA &td1 &kp FSLH &td3
	                 &kp LSHFT &kp LCTRL &kp LALT &kp LGUI &kp SPACE        &kp BSPC  &kp SPACE  &kp DEL &kp RET &kp RSHFT
			>;

			sensor-bindings = < 
				&inc_dec_kp UP_ARROW DOWN_ARROW 
				&inc_dec_kp LEFT_ARROW RIGHT_ARROW 
				>;
		};
		
		num_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |   `   |  !  |  @  |  #   |  $   |  %   |                                                      |  ^   |  &    |  *    |  (   |   )  |  -, = |
// |  TAB  |  1  |  2  |  3   |  4   |  5   |                                                      |  6   |  7    |  8    |  9   |   0  |   +  |
// | SHFT-CAPS |  {  |  }  |  [   |  ]   |  \   | DEFALT  | td_LAYERS  |  | td_LAYERS    | DEFALT  |  :   |  *    |  ,    |  .   |   /   |   =  |
//                     | SHIFT| LCTRL| LALT |  LGUI   |   SPACE |  |  BSPC   |  SPACE  | DEL  | RET   | SHIFT |
// ---------------------------------------------------------------------------------------------------------------------------------
			bindings = <
	&kp GRAVE &kp EXCL &kp AT &kp POUND &kp DLLR &kp PRCNT                               &kp CARET &kp AMPS  &kp STAR  &kp LPAR  &kp RPAR  &td2
	&kp TAB   &kp N1 &kp N2 &kp N3 &kp N4 &kp N5                                         &kp N6 &kp N7  &kp N8  &kp N9  &kp N0   &kp PLUS
&td3 &kp LBRC &kp RBRC &kp LBKT &kp RBKT &kp BSLH &to 0 &td4          &td4 &to 0 &kp COLON &kp STAR  &kp COMMA &kp DOT &kp FSLH &kp EQUAL
	                 &kp LSHFT &kp LCTRL &kp LALT &kp LGUI &kp SPACE        &kp BSPC  &kp SPACE  &kp DEL &kp RET &kp RSHFT
			>;

			sensor-bindings = < 
				&inc_dec_kp LEFT_ARROW RIGHT_ARROW 
				&inc_dec_kp LEFT_ARROW RIGHT_ARROW 
				>;
		};
		
		nav_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |   `       |  F1 |  F2 |  F3  |  F4  |  F5  |                                                |  PG_UP  |  HOME |  UP   |  END  |   C_VOL_UP | BSPC  |
// |  TAB      |  F6 |  F7 |  F8  |  F9  |  F10 |                                                |  PG_DN  |  LEFT |  DOWN | RIGHT |   C_VOL_DN |   PSCRN  |
// | SHFT-CAPS |  F11  |  F12  |  F13   |  F14   |  F15   | DEFALT  | td_LAYERS  |  | td_LAYERS  | DEFALT  |  C_PAUSE   |  C_PREV    |  C_PLAY    |  C_NEXT   |   C_MUTE |  SHFT-CAPS  |
//                            | SHIFT| LCTRL| LALT |  LGUI   |   SPACE |  |  BSPC   |  SPACE  | DEL  | RET   | SHIFT |
// ---------------------------------------------------------------------------------------------------------------------------------
			bindings = <
	&kp GRAVE &kp F1 &kp F2 &kp F3 &kp F4 &kp F5                                       &kp PG_UP &kp HOME  &kp UP    &kp END  &kp C_VOL_UP  &kp BSPC
	&kp TAB   &kp F6 &kp F7 &kp F8 &kp F9 &kp F10                                         &kp PG_DN &kp LEFT  &kp DOWN  &kp RIGHT  &kp C_VOL_DN   &kp PSCRN
	&td3 &kp F11 &kp F12 &kp F13 &kp F14 &kp F15 &to 0 &td4            &td4 &to 0 &kp C_PAUSE &kp C_PREV  &kp C_PLAY &kp C_NEXT &kp C_MUTE &td3
	                 &kp LSHFT &kp LCTRL &kp LALT &kp LGUI &kp SPACE        &kp BSPC  &kp SPACE  &kp DEL &kp RET &kp RSHFT
			>;

			sensor-bindings = < 
				&inc_dec_kp LEFT_ARROW RIGHT_ARROW 
				&inc_dec_kp LEFT_ARROW RIGHT_ARROW 
				>;
		};
		

	};
};
