/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define NUMLAYER 1

#define NONE 0

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | DEFALT  | NUMBER  |  | DEFALT  | NUMBER  |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     | SHIFT| LCTRL| LALT |  LGUI   |   SPACE |  |  BSPC   |  SPACE  | DEL  | RET   | SHIFT |
// ---------------------------------------------------------------------------------------------------------------------------------
			bindings = <
	&kp ESC   &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
	&kp TAB   &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
	&kp LSHFT &kp Z &kp X &kp C &kp V &kp B &to 0 &to 1                   &to 0 &to 1 &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHIFT
	                 &kp LSHFT &kp LCTRL &kp LALT &kp LGUI &kp SPACE        &kp BSPC  &kp SPACE  &kp DEL &kp RET &kp RSHFT
			>;

			sensor-bindings = < 
				&inc_dec_kp LEFT_ARROW RIGHT_ARROW 
				&inc_dec_kp LEFT_ARROW RIGHT_ARROW 
				>;
		};
		
		num_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | DEFALT  | NUMBER  |  | DEFALT  | NUMBER  |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     | SHIFT| LCTRL| LALT |  LGUI   |   SPACE |  |  BSPC   |  SPACE  | DEL  | RET   | SHIFT |
// ---------------------------------------------------------------------------------------------------------------------------------
			bindings = <
	&kp ESC   &kp F1 &kp A &kp A &kp R &kp T                                                &kp Y  &kp U   &kp I     &kp O   &kp P    &kp BSPC
	&kp TAB   &kp N1 &kp N2 &kp N3 &kp N4 &kp N5                                           &kp N6 &kp N7  &kp N8    &kp N9  &kp N0   &kp SQT
	&kp LSHFT &kp Z &kp X &kp C &kp V &kp B &to 0 &to 1                   &to 0 &to 1 &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHIFT
	                 &kp LSHFT &kp LCTRL &kp LALT &kp LGUI &kp SPACE        &kp BSPC  &kp SPACE  &kp DEL &kp RET &kp RSHFT
			>;

			sensor-bindings = < 
				&inc_dec_kp LEFT_ARROW RIGHT_ARROW 
				&inc_dec_kp LEFT_ARROW RIGHT_ARROW 
				>;
		};
		

	};
};
